<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site Name</title>
</head>
<body>
    <form>
        <label for="start_date">Start Date: </label>
        <input type="datetime" name="start_date" id="start_date">
        <br><br>
        <label for="end_date">End Date: </label>
        <input type="datetime" name="end_date" id="end_date">
        <br><br>
        <button type="submit">Make Table</button>
    </form>
    {{ table|safe }}
    
</body>
</html>